<!DOCTYPE html>
<html>
<head>
  <title>LastminuteStreamer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?sensor=false&amp;language=nl_NL&amp;key=AIzaSyBBoGf6iJ1FelydqsqebewVS8MG0zz9GPw' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
